@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}
<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photopath = "~/img/" + (employee.PhotoPath ?? "humanpic.png");
    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
        <div class="card m-3">
            <div class="card-header">
                @employee.Name
            </div>
            <img class="card-img-top thumbnailImg" src="@photopath" asp-append-version="true" />
            <div class="card-body">
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"
                       class="btn btn-primary m-1">VIEW</a>
                    <a asp-controller="home" asp-action="edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">EDIT</a>
                    <a asp-controller="home" asp-action="delete" asp-route-id="@employee.Id" class="btn btn-danger m-1">DELETE</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}

